<mat-card class="card-component" [style]="'background-color: '+background+'; height: '+altura+';'">
    <mat-card-header> 
        <mat-card-title [style]="'color: ' + cordaletra + ';'">{{titulo}}</mat-card-title>
        <mat-card-subtitle [style]="'color: ' + cordaletra + ';'">{{sifrao}} {{subtitulo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [style]="'color: ' + cordaletra + ';'">
        <mat-divider></mat-divider>
        <p [style]="'color: ' + cordaletra + ';'">{{conteudo1}}</p>
        <mat-divider></mat-divider>
        <p [style]="'color: ' + cordaletra + ';'">{{conteudo2}}</p>
        <mat-divider></mat-divider>
        <p [style]="'color: ' + cordaletra + ';'">{{conteudo3}}</p>
        <mat-divider></mat-divider>
    
      <button mat-stroked-button (click)="openSnackBar()" (click)="emitirEvento()">LEARN MORE</button>
    </mat-card-content>
</mat-card>